@model IziWatch.DBO.Popularity

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Popularity</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Viewed)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Viewed)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Liked)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Liked)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ArticleId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ArticleId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UserId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UserId)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
