
@{
    ViewBag.Title = "CreateArticleFB";
}

<h2>Créer un article social avec Facebook</h2>

<hr />

<div class="row">
    <div class="col-md-12">
        <form class="form-inline" role="form" method="get" action="/Admin/CreateArticleFB">
            <div class="form-group">
                <label for="page">Choix de la page :</label>
                <select class="form-control" id="page" name="pageIdentifier">
                    @foreach (var social in ViewBag.socialsFB)
                    {
                        if (ViewBag.checkedIdentifier == social.Identifier)
                        {
                            <option value="@social.Identifier" selected>@social.Account</option>
                        }
                        else
                        {
                            <option value="@social.Identifier">@social.Account</option>
                        }
                    }
                </select>
            </div>
            <input type="submit" name="action" value="Rechercher" class="btn btn-primary" style="margin-top: 28px">
        </form>

    </div>
</div>

<br />

<div class="row">
    @foreach (var article in ViewBag.articlesFB)
    {
        <div class="col-md-3" style="margin-bottom: 10px;">
            <div class="thumbnail" style="padding: 0;">
                @if (article.Image != "" && article.Image != null)
                {
                <img src="@article.Image" alt="article photo" class="img-responsive" style="height: 200px;" />
                }
                else
                {
                <img src="https://library.britishcouncil.org.in/static-content/isbn/noimage.jpg" alt="article photo" class="img-responsive" style="height: 200px;" />
                }
                <div style="display:table; height: 100px; padding: 10px;">

                    <div style="display:table-cell; vertical-align: middle; text-align: center;">
                        @article.Text
                    </div>
                </div>
                <p class="text-center">
                    <a href="#" class="btn btn-primary">Poster</a>
                </p>
            </div>
        </div>
    }
</div>

