﻿@using IziWatch.DataAccess

﻿@{
    ViewBag.Title = "Accueil";
}

@if (ViewBag.dateError)
{
    <div class="alert alert-danger" role="alert">
        <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
        <span class="sr-only">Error:</span>
        Le format de date est incorrect.
    </div>
}

<div class="row" style="margin-top: 12px;">
    <div class="col-md-3">

        <form method="GET" action="/Home/Index" class="form-horizontal box-shadow" style="padding: 15px; font-size: 15px;">
            <fieldset>
                <legend class="text-center" style="font-weight: 700; font-size: 19px; padding-bottom: 7px;">Filtres</legend>
                <div class="form-group" style="margin-bottom: 0; font-weight: 700;">
                    <div class="col-lg-12">
                        Trier par date :
                    </div>
                </div>

                <div class="form-group" style="margin-top: 9px;">
                    <label class="col-lg-1 control-label">
                        <span class="glyphicon glyphicon-calendar" aria-hidden="true"></span>
                    </label>
                    <div class="col-lg-9">
                        <input type="text" id="datepickerBeginDate" value="@ViewBag.beginDate" class="form-control" name="beginDate" placeholder="Date de début" style="font-size: 14px; height: 35px;">
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-lg-1 control-label">
                        <span class="glyphicon glyphicon-calendar" aria-hidden="true"></span>
                    </label>
                    <div class="col-lg-9">
                        <input type="text" id="datepickerEndDate" value="@ViewBag.endDate" class="form-control" name="endDate" placeholder="Date de fin" style="font-size: 14px; height: 35px;">
                    </div>
                </div>

                <br />

                <div class="form-group" style="margin-bottom: 0; font-weight: 700;">
                    <div class="col-lg-12">
                        Popularité :
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-lg-12">
                        <div class="checkbox">
                            @if (ViewBag.popularityCheck)
                            {
                                <label><input type="checkbox" name="popular" value="true" checked> Les plus populaires</label>
                            }
                            else {
                                <label><input type="checkbox" name="popular" value="true"> Les plus populaires</label>
                            }
                        </div>

                        @if (ViewBag.userConnected != null)
                        {
                            <div class="checkbox">
                                @if (ViewBag.favoritesCheck)
                                {
                                    <label><input type="checkbox" name="favorites" value="true" checked> Vos favoris</label>
                                }
                                else {
                                    <label><input type="checkbox" name="favorites" value="true"> Vos favoris</label>
                                }
                            </div>
                        }
                    </div>
                </div>

                <br />

                <div class="form-group" style="margin-bottom: 5px; font-weight: 700;">
                    <div class="col-lg-12">
                        Catégories :
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-lg-12">
                        @foreach (var category in ViewBag.categories)
                        {
                            <div class="checkbox">
                                @if (ViewBag.categoryChecks.Contains(category.Id))
                                {
                                    <label style="font-weight: normal;"><input type="checkbox" name="categories" value="@category.Id" checked> @category.Name</label>
                                }
                                else {
                                    <label style="font-weight: normal;"><input type="checkbox" name="categories" value="@category.Id"> @category.Name</label>
                                }
                            </div>
                        }
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-lg-12">
                        <input name="action" type="submit" class="btn btn-primary btn-block refresh" value="Actualiser">
                    </div>
                </div>
            </fieldset>
        </form>

    </div>

    <div class="col-md-9">

        @foreach (var article in ViewBag.articles)
        {
            <div class="row box-shadow" style="margin-bottom: 15px;">

                <div class="col-md-3 no-padding">
                    <a href="/Article/Details/@article.Id">
                        <img src="@article.Image" style="background: white; background-position: center; background-repeat: no-repeat; background-size: cover; width: 100%; height: 150px;" />
                    </a>
                </div>

                <div class="col-md-9" style="height: 150px; overflow-y: hidden; padding: 15px;">
                    @if (article.Title.Length > 65)
                    {
                        <a href="/Article/Details/@article.Id" style="font-weight: 600; font-size: 18px; color: black;">
                            @article.Title.Substring(0, Math.Min(@article.Text.Length, 65))..
                        </a>
                    }
                    else
                    {
                        <a href="/Article/Details/@article.Id" style="font-weight: 600; font-size: 18px; color: black;">
                            @article.Title
                        </a>
                    }

                    <p style="font-size: 14px;">
                        @article.Text.Substring(0, Math.Min(@article.Text.Length, 140)) ...
                        <a href="/Article/Details/@article.Id">
                            (Lire la suite)
                        </a>
                    </p>

                    <div class="row" style="margin-top: 40px;">
                        <div class="col-md-6">
                            <p style="font-size: 13px;">
                                @{
                                    String categoryName = Category.GetCategory(article.CategoryId).Name;
                                    if (categoryName != null)
                                    {
                                        @Category.GetCategory(article.CategoryId).Name
                                    }
                                }
                            </p>
                        </div>

                        <div class="col-md-6">
                            <p style="font-size: 12px;" class="pull-right">
                                <span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span> @article.Views
                                | <span class="glyphicon glyphicon-heart" aria-hidden="true"></span> @IziWatch.BusinessManagement.Popularity.countLikeArticle(@article)
                                | <span class="glyphicon glyphicon-comment" aria-hidden="true"></span> @IziWatch.BusinessManagement.Comment.GetCommentsByArticle(@article).Count
                            </p>
                        </div>
                    </div>
                </div>

                <a class="twitter-share-button" href=@ViewBag.tweet_text>
                    Tweet
                </a>

                <div class="fb-share-button"
                     data-href="http://www.your-domain.com/your-page.html">
                </div>

            </div>

            }


    </div>
</div>
