﻿@using IziWatch.DataAccess

@{
    ViewBag.Title = "Accueil";
}

<div class="row" style="margin-top: 30px;">
    <div class="col-md-3">
        <div class="filter">
            <div class="row">
                <div class="col-md-12">
                    <p class="title">Filtres</p>
                </div>
            </div>

            <hr style="margin-top: 0;" />

            <form method="GET" action="/Home/Index">

                <div class="row">
                    <div class="col-md-12">
                        <p class="subtitle">Date :</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-2 col-md-offset-1 date">
                        From :
                    </div>
                    <div class="col-md-8">
                        <input class="form-control" placeholder="JJ/MM/AAAA" />
                    </div>
                </div>
                <div class="row" style="margin-top: 5px;">
                    <div class="col-md-2 col-md-offset-1 date">
                        To :
                    </div>
                    <div class="col-md-8">
                        <input class="form-control" placeholder="JJ/MM/AAAA" />
                    </div>
                </div>

                <br />

                <div class="row">
                    <div class="col-md-12">
                        <p class="subtitle">Popularité :</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <p class="popularity">
                            <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
                            <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
                            <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
                            <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
                            <span class="glyphicon glyphicon-star-empty" aria-hidden="true"></span>
                        </p>
                    </div>
                </div>


                <div class="row">
                    <div class="col-md-12">
                        <p class="subtitle">Catégories :</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="well">
                            @foreach (var category in ViewBag.categories)
                            {
                                <div class="row">
                                    <div class="col-md-12 category">
                                        @if (ViewBag.categoryChecks.Contains(category.Id)) {
                                            <label><input type="checkbox" name="categories" value="@category.Id" checked> @category.Name</label>
                                        } else {
                                            <label><input type="checkbox" name="categories" value="@category.Id"> @category.Name</label>
                                        }
                                        
                                    </div>
                                </div>
                            }
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12">
                        <div class="text-center">
                            <input name="action" type="submit" class="btn btn-primary btn-block refresh" value="Actualiser">
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>

    <div class="col-md-9">
        <div class="row">
            @foreach (var article in ViewBag.articles)
            {

                <div class="col-md-4" style="margin-bottom: 10px;">
                    <div class="thumbnail" style="padding: 0;">
                        <img src="@article.Image" alt="article photo" class="img-responsive" style="height: 200px;"/>
                        <div class="text-center" style="margin-top:5px; font-style:italic;">

                            @{
                                String categoryName = Category.GetCategory(article.CategoryId).Name;
                                if (categoryName != null)
                                {
                                    @Category.GetCategory(article.CategoryId).Name
                                }
                            }
                        </div>
                        <div style="display:table; height: 11px; padding: 10px;">
                            <div style="display:table-cell; vertical-align: middle; text-align: center;">
                                <a style="font-size: 16px; color: black;" href="/Article/Details/@article.Id">@article.Title</a>
                            </div>
                        </div>
                    </div>
                </div>

            }
        </div>
    </div>
</div>
