﻿@using IziWatch.DataAccess

﻿@{
    ViewBag.Title = "Accueil";
}

<div class="row" style="margin-top: 30px;">
    <div class="col-md-3">

        <form method="GET" action="/Home/Index" class="form-horizontal" style="border : 1px solid #dddddd; padding: 15px;">
            <fieldset>
                <legend class="text-center" style="font-weight: 700; font-size: 19px; padding: 6px;">Filtres</legend>
                <div class="form-group">
                    <label class="col-lg-2 col-lg-offset-1 control-label">From</label>
                    <div class="col-lg-8">
                        <input type="text" id="datepickerBeginDate" value="@ViewBag.beginDate" class="form-control" name="beginDate">
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-lg-2 col-lg-offset-1 control-label">To</label>
                    <div class="col-lg-8">
                        <input type="text" id="datepickerEndDate" value="@ViewBag.endDate" class="form-control" name="endDate">
                    </div>
                </div>

                <br />

                <div class="form-group" style="margin-bottom: 0; font-weight: 700;">
                    <div class="col-lg-12">
                        Popularité :
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-lg-12">
                        <div class="checkbox">
                            @if (ViewBag.popularityCheck)
                            {
                                <label><input type="checkbox" name="popular" value="true" checked> Les plus populaires</label>
                            } else {
                                <label><input type="checkbox" name="popular" value="true"> Les plus populaires</label>
                            }          
                        </div>
                    </div>
                </div>

                <br />

                <div class="form-group" style="margin-bottom: 5px; font-weight: 700;">
                    <div class="col-lg-12">
                        Catégories :
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-lg-12">
                        @foreach (var category in ViewBag.categories)
                        {
                            <div class="checkbox">
                                @if (ViewBag.categoryChecks.Contains(category.Id))
                                {
                                    <label style="font-weight: normal;"><input type="checkbox" name="categories" value="@category.Id" checked> @category.Name</label>
                                }
                                else {
                                    <label style="font-weight: normal;"><input type="checkbox" name="categories" value="@category.Id"> @category.Name</label>
                                }
                            </div>
                        }
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-lg-10 col-lg-offset-1">
                        <input name="action" type="submit" class="btn btn-primary btn-block refresh" value="Actualiser">
                    </div>
                </div>
            </fieldset>
        </form>
     
    </div>

    <div class="col-md-9">
        <div class="row">
            @foreach (var article in ViewBag.articles)
            {

                <div class="col-md-4" style="margin-bottom: 10px;">
                    <div class="thumbnail" style="padding: 0;">
                        <img src="@article.Image" alt="article photo" class="img-responsive" style="height: 200px;"/>
                        <div class="text-center" style="margin-top:5px; font-style:italic;">

                            @{
                                String categoryName = Category.GetCategory(article.CategoryId).Name;
                                if (categoryName != null)
                                {
                                    @Category.GetCategory(article.CategoryId).Name
                                }
                            }
                        </div>
                        <div style="display:table; height: 100px; padding: 10px;">

                            <div style="display:table-cell; vertical-align: middle; text-align: center;">
                                <a style="font-size: 15px; color: black;" href="/Article/Details/@article.Id">@article.Title</a>
                            </div>
                        </div>
                    </div>
                </div>

            }
        </div>
    </div>
</div>
