
@{
    ViewBag.Title = "Détail d'un article";
    IziWatch.DBO.Article article = ViewBag.article;
}

@section metatags
{
    <meta name="twitter:card" content="summary" />
    <meta name="twitter:title" content="@article.Title" />
    <meta name="twitter:description" content="@article.Text" />
    <meta name="twitter:image" content="@article.Image" />

    <meta property="og:url" content="@ViewBag.pageUrl" />
    <meta property="og:type" content="article" />
    <meta property="og:title" content="@article.Title" />
    <meta property="og:description" content="@article.Text" />
    <meta property="og:image" content="@article.Image" />
}

<div class="row">
    <div class="col-md-12">
        <h2 style="font-weight: 700;">@article.Title</h2>
        <p style="font-size: 16px;">
            @{
                String categoryName = IziWatch.BusinessManagement.Category.GetCategory(article.CategoryId).Name;
                if (categoryName != null)
                {
                    @IziWatch.BusinessManagement.Category.GetCategory(article.CategoryId).Name;
                }
            }
        </p>
    </div>
</div>

<hr style="margin-top: 5px;" />

<div class="row">
    <div class="col-md-12">
        <img src="@article.Image" class="img-responsive img-responsive" style="margin-left: auto; margin-right: auto;" />
    </div>
</div>

<div class="row" style="margin-top: 50px;">
    <div class="col-md-12">
        <pre class="custom-pre">
            @article.Text
        </pre>
    </div>
</div>

<br />

<div class="row">
    <div class="col-md-12">
        <div class="pull-right" style="font-size: 15px; font-weight: 700;">
                Date de création : @article.Date.ToString().Split(' ')[0] | <span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span> @article.Views |
                @if (ViewBag.popularity.Liked)
                {
                <a href="/Article/Details/@article.Id?action=unlike" class="btn btn-warning pull-right btn-xs" style="margin-left: 7px;">
                    <span class="glyphicon glyphicon-heart-empty" aria-hidden="true"></span> Unlike (@ViewBag.countLikes)
                </a>
                }
                else
                {
                <a href="/Article/Details/@article.Id?action=like" class="btn btn-danger pull-right btn-xs" style="margin-left: 7px;">
                    <span class="glyphicon glyphicon-heart" aria-hidden="true"></span> Like (@ViewBag.countLikes)
                </a>
                }
        </div>
    </div>
</div>

<div class="row" style="margin-top: 50px;">
    <div class="col-md-12">
        <h3 style="font-weight:700">Commentaires (@ViewBag.comments.Count)</h3>
    </div>
</div>

<hr style="margin-top: 0 !important;" />


@if(ViewBag.userConnected != null)
{
<div class="row">

    <div class="col-md-8 col-md-offset-2">
        <div class="well" style="padding: 10px !important;">
            <form class="form-horizontal" method="get" action="/Article/Details/@article.Id">
                <fieldset>

                    <div class="form-group">
                        <label class="col-lg-2 control-label">Titre :</label>
                        <div class="col-lg-9">
                            <input type="text" name="commentTitle" class="form-control">
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="textArea" class="col-lg-2 control-label">Texte :</label>
                        <div class="col-lg-10">
                            <textarea class="form-control" name="commentText" rows="2" style="max-width: none !important;"></textarea>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-12">
                            <input type="submit" name="action" value="Commenter" class="btn btn-primary pull-right">
                        </div>
                    </div>
                </fieldset>
            </form>
        </div>
    </div>
</div>
}


<br />

@foreach(var comment in ViewBag.comments)
{
    <div class="row">
        <div class="col-md-7">
            <div class="comment">
                <p class="username">@comment.Title (écrit par @IziWatch.BusinessManagement.User.GetUser(comment.UserId).Login)</p>
                <p class="text">@comment.Text</p>
            </div>
        </div>
    </div>

    <hr style="margin-top: 5px; margin-bottom: 5px; width: 70%;" />
}



